// Fuentes
$primary-font: "New Rocker", system-ui;
$secondary-font: "Hanken Grotesk", sans-serif;

// Colores
$primary-color: #1D1F21;
$secondary-color: #DED5C8;
$tertiary-color: #B22222;
$black: #000000;
$white: #FFFFFF;

// Media queries
$phone: 420px;
$tablet: 768px;
$tabletL: 1024px;
$desktop: 1200px;
$desktopXL: 1400px;
